---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Contact";

const about = {
  firstName: "Alec",
  lastName: "van Dijken",
  phoneNumber: "+1 (123)-456-7543",
};
const skills = ["HTML", "CSS", "JavaScript", "Vue", "Astro", "Rock Climbing"];
const skillColor = "navy";
---

<style define:vars={{ skillColor }}>
  .skill {
    color: var(--skillColor);
    font-weight: bold;ß
  }
</style>
<BaseLayout pageTitle={pageTitle}>
  <h1>Contact Page</h1>
  <h2>My name is {about.firstName + " " + about.lastName}</h2>
  <p>Skills:</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
</BaseLayout>
