---
import Navigation from './Navigation.astro'
import Hamburger from './Hamburger.astro'
import ThemeIcon from './ThemeIcon.astro'
---
<header>
    <nav>
        <Hamburger/>
        <div id="nav-main">
            <Navigation/>
        </div>
        
        <div id="theme-icon">
            <ThemeIcon/>
        </div>
    </nav>
</header>
<style>
    nav{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1em;
    }
    #theme-icon{
        /* align-self: flex-end; */
        margin-left: auto;
    }
    #nav-main{
        margin-left: auto;
        transform: translateX(15px);
    }
</style>