---

---

<div class="nav-links">
  <a href="/">Home<img class="nav-icon" src="../../public/home-alt.svg" /></a>
  <a href="/contact/">Contact</a>
  <a href="/blog/">Blog</a>
  <a href="/tags">Tags</a>
</div>
