---
---
<div class="nav-links">
    <a href="/">Home</a>
    <a href="/contact/">Contact</a>
    <a href="/blog/">Blog</a>
    <a href="/tags">Tags</a>
</div>
<style>
    .nav-links{
        display: flex;
        /* width: fit-content; */
        border-radius: 1.5em;
        background-color: var(--background-color-alt);
    }
    .nav-links a{
        padding: .75em;
        text-decoration: none;
        color: var(--text-color-alt);
    }
</style>